pymupdf
pdfplumber
unstructured
pandas
numpy
regex
faiss-cpu
sentence-transformers
rank-bm25
uvicorn
fastapi
joblib
orjson
tqdm
torch
transformers
python-docx
datasets
scikit-learn
scipy
matplotlib
seaborn
beautifulsoup4
langchain-text-splitters
PyPDF2
wordcloud
gensim
konlpy
streamlit

